@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&family=Poppins:wght@200&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-sans bg-black text-white;
  }

  h1 {
    @apply font-pageTitle font-extralight text-6xl
  }

  h2 {

  }

  svg {
    @apply fill-current;
  }
}

@layer components {
  .footer-links a,
  .legal-links a,
  .header-links a,
  nav a {
    @apply link-hover;
  }

  .footer-links li {
    @apply leading-5 mb-2
  }

  .legal-links li:after {
    @apply content-['|'] mx-2;
  }

  .legal-links li:last-child:after {
    @apply content-[''];
  }

  input[type=checkbox]:checked + .switch-wrapper {
    @apply justify-end bg-caribbeanGreen;
  }

  .admin-gallery-table {
    @apply grid gap-x-adminGalleryTable grid-cols-adminGalleryTable;
  }

  .drag-drop-handle {
    @apply hidden;
  }

  .project-row:hover .drag-drop-handle {
    @apply block;
  }
}

@layer utilities {
  .center {
    @apply flex items-center justify-center;
  }

  .page {
    @apply max-w-pageWidth mx-auto grid grid-cols-12 gap-x-5;
  }

  .rainbow-border {
    @apply relative;
    background: linear-gradient(90deg, #F4BB44 2.14%, #E0367C 32.72%, #6762D2 69.42%, #6ED3FA 99.49%);
  }

  .rainbow-border:hover:before {
    @apply absolute inset-0;
    background: linear-gradient(90deg, #F4BB44 2.14%, #E0367C 32.72%, #6762D2 69.42%, #6ED3FA 99.49%);
    content: '';
    filter: blur(20px);
    z-index: -1;
  }

  .link-hover {
    @apply hover:opacity-70 transition-opacity duration-300 ease-in-out;
  }
}
