@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&family=Poppins:wght@200&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-sans bg-black text-white;
  }

  h1 {
    @apply font-pageTitle font-extralight text-6xl leading-[1.5]
  }

  h2 {
    @apply font-sans text-2xl font-normal leading-loose;
  }

  h3 {
    @apply font-sans text-lg font-bold text-dimGray mb-3;
  }

  label {
    @apply block w-full text-left mb-1;
  }

  .field input[type=text],
  .field input[type=email],
  .field input[type=password],
  .field input[type=number],
  .field input[type=tel],
  .field input[type=url],
  .field input[type=date],
  .field input[type=datetime-local],
  .field input[type=month],
  .field input[type=week],
  .field input[type=time],
  .field input[type=datetime],
  .field input[type=color],
  .field input[type=search],
  .field textarea,
  .field select {
    @apply w-full bg-transparent border-[1px] border-white rounded-[4px] h-16 text-base px-4 focus:border-selectiveYellow outline-none;
  }

  .field textarea {
    @apply h-32 py-4;
  }

  svg {
    @apply fill-current;
  }
}

@layer components {
  .field {
    @apply mb-6;
  }

  .form-heading {
    @apply text-5xl leading-tight font-light tracking-tight;
  }

  .footer-links a,
  .legal-links a,
  .header-links a,
  nav a {
    @apply link-hover;
  }

  .footer-links li {
    @apply leading-5 mb-2
  }

  .legal-links li:after {
    @apply content-['|'] mx-2;
  }

  .legal-links li:last-child:after {
    @apply content-[''];
  }

  input[type=checkbox]:checked + .switch-wrapper {
    @apply bg-caribbeanGreen;
  }

  input[type=checkbox] + .switch-wrapper .switch {
    @apply transition-transform;
  }

  input[type=checkbox]:checked + .switch-wrapper .switch {
    @apply translate-x-4;
  }

  .admin-gallery-table {
    @apply grid gap-x-adminGalleryTable grid-cols-adminGalleryTable;
  }

  .drag-drop-handle {
    @apply hidden;
  }

  .project-row:hover .drag-drop-handle {
    @apply block;
  }

  .card-grid > div {
    @apply flex-1;
  }

  .card-grid > div:nth-child(2n) {
    @apply mt-24
  }

  .project-description p:first-of-type {
    @apply text-2xl leading-10 mb-7;
  }

  .project-description p {
    @apply text-base leading-8 mb-7;
  }

  .slideout-panel ::-webkit-scrollbar {
      width: 6px;
  }
}

@layer utilities {
  .form {
    @apply flex flex-col gap-8;
  }

  .box-wrapper {
    @apply center min-h-[75vh];
  }

  .box {
    @apply rounded-xl border-darkGray border-[1px] px-20 py-16 max-w-xl w-full
  }

  .form-heading {
    @apply font-pageTitle font-light text-5xl leading-tight tracking-tight;
  }

  .center {
    @apply flex items-center justify-center;
  }

  .circle {
    @apply rounded-full;
  }

  .page {
    @apply max-w-pageWidth mx-auto grid grid-cols-12 gap-x-5;
  }

  .rainbow-border {
    @apply relative;
    background: linear-gradient(90deg, #F4BB44 2.14%, #E0367C 32.72%, #6762D2 69.42%, #6ED3FA 99.49%);
  }

  .rainbow-border:hover:before {
    @apply absolute inset-0 z-rainbowButtonGlow;
    background: linear-gradient(90deg, #F4BB44 2.14%, #E0367C 32.72%, #6762D2 69.42%, #6ED3FA 99.49%);
    content: '';
    filter: blur(20px);
  }

  .link-hover {
    @apply hover:opacity-70 transition-opacity duration-300 ease-in-out;
  }

  .page-padding-right {
    padding-right: calc((100vw-1240px)/2)
  }

  .gradient {
    @apply bg-header bg-100-auto bg-no-repeat;
  }
}
